#!KAMAILIO

log_stderror=no
fork=yes
children=4
debug=3
log_stderror=yes
log_color=1
log_prefix="[$Tf] - "
log_facility=LOG_LOCAL0
disable_tcp=yes

loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "json.so"
loadmodule "ndb_redis.so"
loadmodule "app_python3.so"
loadmodule "dispatcher.so"
loadmodule "usrloc.so"
loadmodule "xlog.so"
loadmodule "textops.so"
loadmodule "registrar.so"
loadmodule "ctl.so"
loadmodule "pv.so"
loadmodule "rr.so"
loadmodule "siputils.so"
loadmodule "htable.so"
loadmodule "nathelper.so"

import_file "/etc/kamailio/aliases.cfg"

# Redis
modparam("ndb_redis", "server", "name=reg_redis;addr=192.168.100.127;port=6379;db=0")

# Python
modparam("app_python3", "mod_init_function", "mod_init")
modparam("app_python3", "load", "/etc/kamailio/update_states.py")

# Dispatcher (load balance para os 2 Asterisks)
modparam("dispatcher", "list_file", "/etc/kamailio/dispatcher.list")
modparam("dispatcher", "ds_ping_interval", 5)
modparam("dispatcher", "ds_probing_threshold", 2)

# Usrloc (memória - para teste)
modparam("usrloc", "db_mode", 0)

modparam("ctl", "binrpc", "unix:/var/run/kamailio/kamailio_ctl")
modparam("ctl", "mode", 0666)

modparam("htable", "htable", "calls=>size=10;autoexpire=7200;")

modparam("nathelper", "received_avp", "$avp(RECEIVED)")
modparam("registrar", "received_avp", "$avp(RECEIVED)")

# ====================== ROUTING ======================
request_route {
           
    if (is_method("REGISTER")) {
        remove_hf("Route");        
        $avp(reg_peer) = $fU;
        if (save("location")) {
            xlog("update_registration");            
            python_exec("update_registration");            
        }
        exit;
    }

    if (is_method("OPTIONS")) {
        if (uri==myself) {
            sl_send_reply("200", "Keepalive");
            exit;
        }        
    }

    # handle in-dialog messages
	#route(WITHINDLG);

	if (route(ISFROMASTERISK)){							
		record_route_advertised_address("192.168.100.127:5060");
        if ($sht(calls=>$ci) == $null){                
            $sht(calls=>$ci) = "sip:" + $si + ":" + $sp;
        }        
		route(LOCATION);
		exit;
	}

	if (!route(ISFROMASTERISK)){					
		record_route_advertised_address("192.168.100.127:5060");							
		route(TOASTERISK);
		exit;
	}
}

route[TOASTERISK] {
    if ($sht(calls=>$ci) != $null){                
        $du = $sht(calls=>$ci);
        route(RELAY);
        exit;
    }
    else {
        ds_select_dst("1", "0");
        $sht(calls=>$ci) = $du;
        route(RELAY);
        exit;
    }
}
route[LOCATION] {
	$avp(oexten) = $rU;    
	if (!lookup("location")) {
		$var(rc) = $rc;                        
		switch ($var(rc)) {
			case -1:
                sl_send_reply("404", "Not Found");
				exit;
			case -3:
				sl_send_reply("500", "Internal server error");
				exit;
			case -2:
				sl_send_reply("405", "Method Not Allowed");
				exit;
		}
	}    
	route(RELAY);
	exit;
}

route[RELAY] {
    forward();
    exit;
}

route[ISFROMASTERISK] {
	if($hdr(User-Agent) == "pbx_voice" || $hdr(X-origin) == "pbx_voice" || $hdr(Server) == "pbx_voice") {	
		xlog("L_INFO","IS FROM ASTERISK $si:$sp \n");
		return 1;
	}
	xlog("L_INFO","IS NOT FROM ASTERISK $si:$sp \n");
	return -1;
}


route[WITHINDLG] {
	if (has_totag()) {
		if (loose_route()) {    
            route(RELAY);
            exit;                    
            #return;
		}
	}
}

event_route[usrloc:contact-expired] {
    xlog("update_registration");    
    python_exec("update_registration");     
}
